@model EXAMEN.Models.Empleado_Habilidad

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estas Seguro que deseas quitar esta habilidad a @Model.IdEmpleadoNavigation.NombreCompleto?</h3>
<div>
    <h4>Empleado_Habilidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreHabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreHabilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.NombreCompleto)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHabilidad" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
